

.form-check {
  color: #350564;
  margin-left: 40px;
}

input.text {
    color:#350564;
    border: 0.5px solid #350564;
    margin-left: 40px;
}

.display-5 {
    font-family: sans-serif;
    font-size: 18px;
    color:#350564;
    line-height: 140%;
    font-weight: 600;
 }
/*  
.my-4 {
    border: 1px solid red !important;
    width: 400px !important;
    position: relative !important;
    bottom: 80px !important;
} */ */

.btn-outline-info {
    font-size: 12px;
    line-height: 18px;
    font-weight: 600;
    font-style: normal;
    font-family: sans-serif;
    border-radius: 0%;
}

.btn-outline-info {
    font-size: 13px !important;
    line-height: 18px;
    font-weight: 600;
    font-style: normal;
    font-family: sans-serif;
    border-radius: 0%;
    margin-left: 40px;
}

.btn-outline-success {
    font-size: 13px !important;
    line-height: 18px;
    font-weight: 600;
    font-style: normal;
    font-family: sans-serif;
    border-radius: 0%;
    margin-left: 8px;
}

.btn-outline-warning {
    font-size: 13px !important;
    line-height: 18px;
    font-weight: 600;
    font-style: normal;
    font-family: sans-serif;
    border-radius: 0%;
    margin-left: 40px;
    margin-top: 10px;
}

.form-control-lg {
    margin-left: 30px !important;
    width: 380px !important;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: #eeeeee ;
    border: 1px solid gray;
    justify-content:left !important;
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.app__container {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 380px;
    height: 200px;
    /* border: none !important; */
    border: 1px solid gray;
    box-sizing: border-box;
    background: #eeeeee !important;
}

.app__input {
    margin-top: 10px;
   
}