


#btn-reflect {
    width: fit-content;
    margin-left: 40px;
}
/* 
.my-5 {
    border: 1px solid red !important;
    position: relative !important;
    top: 200px;
} */

.time-of-learning {
    color: red;
}