.row {
    /* border: 1px solid red; */
    /* width: fit-content; */
}

.left-content {
    margin: 10% auto;
    margin-right: 15px;
    padding-right: 20px;
    /* border: 1px solid red; */
    width: fit-content;
    /* float: left; */
 
}

.cpd-here {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 35px;
    line-height: 44px;
    font-style: normal;
    color: #350564;
    height: 88px;
    line-height: 110%;
    width: 250px;
    padding: auto;
    margin: auto;
    
    
    
}


btn btn-default {
    background-color: #350564;
}
 
/* .left {
    border: 1px solid red; 
    margin-right: 100px;
    float: left;
} */
/* .right {
  border: 1px solid red;
  margin-right: 400px;
  width: fit-content;
  float: right;

  
 }  */