/* css styling for the porfolio page */

.form-row {
 color: #350564;
 margin-top: 40px;
}

img {
    border-radius: 50%;
    margin-left: 20px;
  }

.text{
    color: #350564;
    margin-top: 20px;
    margin-left: 30px;
}

input.form-control {
    border-color: #350564;
}

.profile {
    color: #350564;
    margin-left: 20px;

}